<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device, initial-scale=1, shrink-to-fit=no">
        <title>API MVC NODE</title>
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
          <br/><br/><br/>
          <h2>Exemplo API Node.JS com MVC</h2>
          <br/>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">COMPE</th>
                <th scope="col">ShortName</th>
                <th scope="col">Document</th>
                <th scope="col">Type</th>
                <th scope="col">Url</th>
              </tr>
            </thead>
            <tbody>
          <% if (lista.length > 0) { %>
              <% for(var i = 0; i < lista.length; i++) {%> 
                </tr>
                  <th scope="row"><%= lista[i].COMPE %></th>
                  <td><%= lista[i].ShortName %></td>
                  <td><%= lista[i].Document %></td>
                  <td><%= lista[i].Type %</td>
                  <td><%= lista[i].Url %</td>
                </tr>
              <% } %>
            
          <% } %>
        </div>
      </body>
</html>